.parameter {
    margin: 10px 0;
}

.parameter label {
    display: inline-block;
    width: 150px;
    text-align: right;
}

.parameter input {
    width: 130px;
    font-size: 16px;
    padding: 4px 6px;
}

.network-size {
    font-size: 1.6em;
}
