input.small {
    display: inline-block;
    width: 7em;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
input.medium {
    display: inline-block;
    width: 14em;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

select.form-control {
    display: inline-block;
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
}

code {
    color: #333;
    background: rgba(0,0,0,0);
}

.results .bandwidth td {
    padding-right: 5px;
}

.impossible,
.impossible:focus
{
    border: 3px solid #F00;
}

.stats {
    margin-top: 20px;
    margin-bottom: 20px;
}

.complexity li {
    line-height: 2em;
}

.popup {
    cursor: pointer;
    position: relative;
    border-bottom: 1px dotted #999;
    line-height: 13px; /* sets dotted underline correctly */
}
.popup * {
    line-height: 1.42857143; /* from bootstrap */
}
div.popup {
    display: inline-block;
}
.popup-content {
    display: none;
    text-align: left;
    position: absolute;
    background-color: #FFF;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px;
    z-index: 1000;
    width: 250px;
    max-height: 300px;
    overflow-y: auto;
}
.popup:hover .popup-content {
    display: block;
}

.costs .bandwidth .options {
    display: inline-block;
}

.costs .percent {
    position: relative;
    padding: 0;
}
.costs .percent .value,
.costs .percent .bar {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    height: 20px;
    margin: 15px 0;
}
.costs .percent .value {
    width: 100%;
}
.costs .percent .bar {
    width: 0;
    background-color: #B5B7F1;
}

.large-chart {
    width: 100%;
}

/* http://stackoverflow.com/a/22559163 */
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
}

.idiot-warning {
    padding: 1em 15px;
}
